main.Boncle-Collection {
    background-color: #333;
    color: #eee;
}

$monospace: "JetBrains Mono", monospace;

@mixin BonclePanelHeader {
    font-size: 18px;
    font-weight: bold;
    color: gold;
    padding: 4px;
}

////////////
// Colors //
////////////


// https://en.wikipedia.org/wiki/Natural_Color_System
._displayWhite  { --display-color: #FFFFFF; --display-color-dual: black; }
._displayRed    { --display-color: #C40233; --display-color-dual: white; }
._displayGreen  { --display-color: #009F6B; --display-color-dual: white; }
._displayBlue   { --display-color: #0087BD; --display-color-dual: white; }
._displayYellow { --display-color: #FFD300; --display-color-dual: black; }
._displayBlack  { --display-color: #111111; --display-color-dual: white; }

////////////////
// Components //
////////////////

.BoncleApp {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
    & > .Header {
        z-index: 1;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr auto 1fr;
        
        backdrop-filter: blur(10px);
        background-color: rgba(#000000, 0.5);
    }
    
    & > .Absorb {
        
    }
    
    & > .Footer {
        & > .Title {
            @include BonclePanelHeader;
        }
        
        & > .Assorted {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

///////////////////////
// Header components //
///////////////////////

.BoncleTagSearch {
    display: grid;
    
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        "title   error   error  "
        "search  search  clear  "
        "suggest suggest suggest"
    ;
    gap: 4px;
    padding: 8px;
    
    & > .Title       { grid-area: title; }
    & > .Search      { grid-area: search; }
    & > .Clear       { grid-area: clear; }
    & > .Suggestions { grid-area: suggest; }
    & > .Error       { grid-area: error; }
    
    & > .Title {
        @include BonclePanelHeader;
    }
    
    & > input.Search {
        font-family: $monospace;
        font-size: 14px;
    }
    
    & > button.Clear {
        display: grid;
        place-content: center;
        padding: 2px;
    }
    
    // & > input:not(focus) ~ .Suggestions {
    //     color: transparent;
    // }
    // idk it is not too bad is it?
    
    & > .Suggestions {
        display: flex;
        overflow: hidden;
        padding: 4px;
        gap: 4px;
    }
    
    & > .Error {
        
    }
    
    &.Incomplete > .Error {
        font-weight: bold;
        padding: 4px;
        color: white;
        background-color: red;
    }
}

.BoncleCenterpiece {
    display: grid;
    place-content: center;
    place-self: center;
    
    width: 120px;
    
    & > button {
        display: contents;
        cursor: pointer;
        
        & > img.BigLogo {
            min-width : 0;
            min-height: 0;
            object-fit: contain;
            
            width: 100%
        }
    }
    
}

.BoncleSelectionStats {
    & > .Title {
        @include BonclePanelHeader;
    }
    
    & > .DisplayElementComparison {
        display: flex;
        padding: 4px;
        gap: 4px;
        
        & > .Label {
            background-color: var(--display-color     , #000);
            color           : var(--display-color-dual, #000);
            
            border-radius: 9999px;
            border: 2px solid currentColor;
            
            aspect-ratio: 1/1;
            display: grid;
            place-content: center;
            
            & > .Frequency {
                font-family: $monospace;
                padding: 2px;
            }
        }
    }
}

//////////////////
// Main content //
//////////////////

.BoncleSetList {
    display: grid;
    
    // Most sized waves have 6 sets in them, making the elements all line up
    // Alternative with explicit grid-column did NOT work :')
    // grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 8px;
    gap: 8px;
    
    & > .Header {
        grid-column: 1 / -1;
        text-align: center;
        
        &.Size {
            font-size: 24px;
        }
        
        &.Year {
            font-size: 36px;
            font-weight: bold;
        }
    }
}

.BoncleSetListItem {
    $radius: 5px;
    $border: 2px;
    
    max-width: 250px;
    
    display: grid;
    
    aspect-ratio: 3 / 4;
    border-radius: ($radius + $border);
    
    background-position: center center;
    background-clip: padding-box;
    background-size: cover;
    
    overflow: hidden;
    
    border: $border solid transparent;
    transition: border-color 100ms;
    
    &.Selected {
        border-color: gold;
    }
    
    & > .Content {
        -webkit-backdrop-filter: contrast(75%) blur((14px / 2));
        backdrop-filter        : contrast(75%) blur((14px / 2));
        
        display: grid;
        $barSize: 48px;
        
        // grid-template-rows: $barSize 1fr $barSize;
        grid-template-rows: auto 1fr auto;
        justify-content: stretch;
        align-content: center;
        
        min-width: 0;
        min-height: 0;
        
        & > .Preview {
            min-width: 0;
            min-height: 0;
            
            & > .Media {
                display: block;
                // ^ once again, inline screwing around
                width: 100%;
                height: 100%;
                
                object-fit: contain;
            }
        }
        
        & > .Flank {
            background-color: rgba(#000000, 0.5);
            padding: 4px;
        }
        
        & > .Header {
            display: grid;
            place-content: center;
            grid-template-rows: auto auto;
            
            & > .Title {
                font-family: "Trademarker", serif;
                font-style: italic;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
            }
            
            & > .SetNumber {
                font-size: 12px;
                
                color: #ccc;
                text-align: center;
            }
        }
        
        & > .Footer {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

// .BonclePreview {
//     background-position: center center;
//     background-size: cover;
//     min-width: 0;
//     min-height: 0;
//     & > .Media {
//         display: block;
//         // ^ once again, inline screwing around
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//         -webkit-backdrop-filter: contrast(75%) blur((14px / 2));
//         backdrop-filter: contrast(75%) blur((14px / 2));
//     }
// }

//////////////////////
// Assorted widgets //
//////////////////////

.BoncleTagLabel {
    font-family: $monospace;
    font-size: 14px;
    
    & > .Prefix {
        font-weight: bold;
        // color: gold;
    }
    
    & > .Main {
        
    }
}

.BoncleSetWidget {
    border-radius: 9999px;
    
    background-color: rgba(#000000, 0.5);
    
    width : 24px;
    height: 24px;
    
    user-select: none;
    
    &.Element {
        & > img.Media {
            vertical-align: middle;
            height: 100%;
            aspect-ratio: 1/1;
        }
    }
    
    &.Text {
        display: grid;
        place-content: center;
        
        // &.dislike  { color: olivedrab ; }
        &.whatever, &.dontHave { color: gray      ; }
        
        // &.dontHave {color: gray;}
        // &.want     {color: red;}
        // &.have     {color: lime;}
    }
}
