main.Boncle-Collection {
    background-color: #333;
    color: #eee;
}

////////////
// Colors //
////////////

._displayWhite {
    --element-color: white;
    --element-background: white;
}

._displayRed {
    --element-color: red;
    --element-background: red;
}

._displayGreen {
    --element-color: lime;
    --element-background: lime;
}

._displayBlue {
    --element-color: deepskyblue;
    --element-background: deepskyblue;
}

._displayGold {
    --element-color: gold;
    --element-background: gold;
}

._displayBlack {
    --element-color: black;
    --element-background: black;
}

////////////////
// Components //
////////////////

.BoncleApp {
    display: grid;
}

.BoncleSetList {
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
    
    & > .Header {
        grid-column: 1 / -1;
        
        &.Size {
            
        }
        
        &.Year {
            
        }
    }
    
    & > .Item {
        display: grid;
        grid-template-rows: 40px 1fr 40px;
        
        border: 1px solid var(--element-color, #444);
        padding: 8px;
        
        aspect-ratio: 1 / 1;
        
        background-color: #444;
        
        overflow: hidden;
        
        & > .Title {
            font-family: "Trademarker", serif;
            font-style: italic;
            font-weight: bold;
            
            text-align: center;
        }
        
        & > .Tags {
            font-family: monospace;
            font-size: 12px;
        }
        
        // Stuff gets horribly skewed because of this
        // &.displayRed   { grid-column: 1; }
        // &.displayBlue  { grid-column: 2; }
        // &.displayGreen { grid-column: 3; }
        // &.displayWhite { grid-column: 4; }
        // &.displayGold  { grid-column: 5; }
        // &.displayBlack { grid-column: 6; }
    }
}

.BonclePreview {
    // aspect-ratio: 1 / 1;
    // height: 400px;
    border: 1px solid black;
    
    // background-image: url(setNo);
    // ^ is done in code
    background-position: center center;
    background-size: cover;
    
    min-width: 0;
    min-height: 0;
    
    & > .Media {
        display: block;
        // ^ once again, inline screwing around
        width: 100%;
        height: 100%;
        
        object-fit: contain;
        -webkit-backdrop-filter: contrast(75%) blur((14px / 2));
        backdrop-filter: contrast(75%) blur((14px / 2));
    }
}
